body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
    /* background-image: ; */
    background-image: url("image/back1.30e76af150e1.jpg");
    background-size: cover;
   height: 400px;
   width: 100%;
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
    align-items: center;
    justify-content: center;
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

.title{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.but{
    color: white;
    background-image:linear-gradient(to top, #434343  , #000000);
    height: 220px;
    margin: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    display: flex;
    transition: 0.5s;
    width: 180px;
    cursor: pointer;
}
.but:hover{
    transform: scale(1.1);
}
.ess{
    display: flex;
}

.nextBut{
    height: 30px;
    width: 100px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    transition: .3s;
}
.nextBut:hover{
    background-color: blue;
    color: white;
    transform: scale(1.1);
    border: none;
}
.pages{
    margin-top: 60px;
    font-size: 30px;
    float: left;
}
